services:
  # This service runs once, creates certs, and then exits
  vault:
    image: hashicorp/vault:latest
    container_name: {{ vault_container_name }}
    ports:
      - "8200:8200"
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID={{ ansible_test_vault_token }}
    networks:
      - ansible-test-vault
  postgresql:
    image: postgres
    container_name: {{ postgresql_container_name }}
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD={{ ansible_postgresql_root_password }}
    networks:
      - ansible-test-vault

networks:
  ansible-test-vault:
